<div class="row justify-content-center align-items-center">
	<div class="col-md-4 panel my-md-5">
		<h2>Dodavanje nove jedinice mere:</h2>
		<form name="addJedinicaMere">
			<div class="form-group">
				<label for="nazivs">Naziv:</label>
				<input type="text"
				class="form-group form-control"
				placeholder="Unesite naziv"
				ng-model="$ctrl.jedinicaMere.naziv"
				required/>
			</div>
			<div class="form-group">
				<label for="skracenica">Skracenica:</label>
				<input type="text"
				class="form-group form-control"
				placeholder="Unesite skracenicu"
				ng-model="$ctrl.jedinicaMere.skracenica"
				required/>
			</div>
			<input type="submit"
			class="btn btn-custom"
			value="Dodaj"
			ng-click="addJedinicaMere.$valid && $ctrl.add()"/>
			<p class="my-3">
				{{$ctrl.status}}
			</p>
		</form>
	</div>
</div>
