<div class="row justify-content-center align-items-center">
	<div class="col-md-4 panel my-md-5">
		<h2>Dodavanje nove vrste proizvoda:</h2>
		<form name="addVrstaProizvoda">
			<div class="form-group">
				<label for="nazivs">Naziv:</label>
				<input type="text"
				class="form-group form-control"
				placeholder="Unesite naziv"
				ng-model="$ctrl.vrstaProizvoda.naziv"
				required/>
			</div>
			<input type="submit"
			class="btn btn-custom"
			value="Dodaj"
			ng-click="addVrstaProizvoda.$valid && $ctrl.add()"/>
			<p class="my-3">
				{{$ctrl.status}}
			</p>
		</form>
	</div>
	<!--Table-->
<div class="table-responsive">
	<table class="table table-dark table-bordered table-hover px-md-5">
		<thead>
			<tr>
				<th>Naziv:</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="vrsta in $ctrl.vrsteProizvoda">
					<td>{{vrsta.naziv}}</td>
					
			</tr>
		</tbody>
	</table>
</div>
</div>