<div class="row justify-content-center align-items-center">
	<div class="col-md-4 panel my-md-5">
		<h2>Dodavanje nove vrsta proizvoda:</h2>
		<form name="addVrstaProizvoda">
			<div class="form-group">
				<label for="nazivs">Naziv:</label>
				<input type="text"
				class="form-group form-control"
				placeholder="Unesite naziv"
				ng-model="$ctrl.vrstaProizvoda.naziv"
				required/>
			</div>
			<input type="submit"
			class="btn btn-custom"
			value="Dodaj"
			ng-click=addVrstaProizvoda.$valid && $ctrl.addVrstaProizvoda()"/>
			<p class="my-3">
				{{$ctrl.status}}
			</p>
		</form>
	</div>
</div>
