<div class="row justify-content-center align-items-center">
	<div class="col-md-4 panel my-md-5">
		<h2>Dodavanje nove vrsta proizvoda:</h2>
		<form name="getKifForm">
			<div class="form-group">
				<label for="fromDateInput">Od:</label>
				<input type="date"
					id="fromDateInput"
					class="form-control"
					ng-model="$ctrl.fromDate"
					required
					autofocus/>
			</div>
			<div class="form-group">
				<label for="toDateInput">Do:</label>
				<input type="date"
					id="toDateInput"
					class="form-control"
					ng-model="$ctrl.toDate"
					min="{{$ctrl.fromDate | date:'yyyy-MM-dd'}}"
					required/>
			</div>
			<button class="btn btn-custom"
				ng-click="getKifForm.$valid && $ctrl.getKif()">
					<i class="fas fa-file-invoice"></i>
					Izgeneriši izveštaj
			</button>
			<p class="my-3">
				{{$ctrl.status}}
			</p>
		</form>
	</div>
</div>
